.loaderWrapper {
  position: relative;
  margin: 5px;;
  width: 100%;
}

.loaderBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderSvg {
  display: block;
}