@import '../../styles/variables.scss';

.textInput {
  width: 100%;
  padding: 6px;
  background-color: $white100;
  border: none;
  border-radius: 2px;
  outline: 1px solid $inputBorderColor;
  &:focus {
    outline: 2px solid $inputFocusBorderColor;
  }
}