*, *:before, *:after {
  box-sizing: border-box;
} 

a {
  text-decoration: none;
}

body, ul, li, p, button, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  cursor:pointer;
  &:focus {
    outline:none;
  }
  &:active {
    outline:none;
  }
  font: inherit;
}

input {
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  &:focus {
    outline: none;
  }
}