$white: #fff;
$black: #000;
$green100: #7ce691;
$yellow100: #e5e5b2;
$orange300: #fbba38;
$orange400: #fcc658;
$gray300: #838383;

$white100: #fffff2;

$bodyBg: $white100;
$headerBg: $green100;
$footerBg: $green100;
$mainBg: $yellow100;
$buttonPrimaryBg: $orange300;
$buttonPrimaryBgHover: $orange400;