@import '../../styles/variables.scss';

.notification {
  width: fit-content;
  min-width: 400px;
  max-width: 600px;
  background-color: $alertBg;
  border: 1px solid $gray500;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .notificationBody {
    display: flex;
    .icon {
      margin-right: 10px;
    }
    .title {
      margin-right: 6px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}