@import '../../styles/variables.scss';

.binDetails {
  padding: 15px;
  width: 100%;
}

.binId {
  margin-bottom: 14px;
  font-weight: 500;
}

.binDetailsButtons {
  margin-top: 20px;
  display: flex;
  button:not(:first-child) {
    margin-left: 10px;
  }
}