@import '../../styles/variables.scss';

.header {
  background-color: $headerBg;
  padding: 15px 30px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.enterApiKeyLink {
  color: $blue200;
  text-decoration: underline;
}